@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

// scroll bar styling 
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: #454d5c;
}

::-webkit-scrollbar-track-piece {
    background-color: #eee;
    -webkit-border-radius: 10px;
    border-left: 1px #999 #888;
}